
/* Help page */
.need-help {padding: 30px 0px;background: #8279fe;}
.need-help h3 { display: block;text-align: center;color: #fff;padding-bottom: 10px;}
.helping-search {position: relative;width: 100%;border: 1px solid rgb(227, 227, 227);text-overflow: ellipsis;padding: 10px 15px 10px 40px;color: #cecece;background-color: rgb(255, 255, 255);} 
 button.search-btn {position: absolute;top: 56px;right: 20px; background: #8279fe;border: none;padding: 5px 24px;font-size: 16px;color: #fff;}
.search-icon {position: absolute;left: 30px;bottom: 30px;color:#a8a8a8;}

.need-services{ padding:50px 0px; background:#fafafa; }
.need-services .help-features {background: #fff;padding: 15px;border: 1px solid #f1efef;box-shadow: -2px -3px 10px 0px #eee;}
.need-services .help-features em {display: block;text-align: center;margin-top: 12px!important; font-size: 25px;background: #8279fe;height: 60px;width: 60px;margin: 0 auto;color: #fff;line-height: 60px;border-radius: 50%;}
.need-services .help-features h4 {display: block;text-align: center;font-size: 18px;padding-top: 15px;font-weight: 600;}
.help-features p { display: block;text-align: center;font-size: 14px;color: #b1b1b1;}
.feature-verified {margin-top: 30px!important;}


.common-quetion{ padding:50px 0px;}
.common-quetion h5 { font-size: 18px;font-weight: 600;color: #2e2e2e;}
.common-quetion .feedback-quetions {list-style: none;padding: 0px;}
.common-quetion .feedback-quetions li {line-height: 40px;border-bottom: 1px solid #f3f2f2}
.common-quetion .feedback-quetions li a {color: #989191;}
.common-quetion .feedback-quetions li a:hover{text-decoration: none;}
.common-quetion .feedback-quetions span { padding-left: 8px;}
.common-quetion .feedback-quetions {margin-top: 35px;}
.common-quetion .review-provider { margin-top: 30px;}

/* Thankyou Page */
.thankyou-page{ padding: 20px;}
.thankyou-page .redierect-product{background: #fff;padding:30px; display: block;text-align: center;margin: 0 auto;box-shadow: 0 0 18px 0 rgba(218,212,212,0.04);
-webkit-box-shadow: 0 0 18px 0 rgba(218, 212, 212, 1);}
.thankyou-page .customer-detail {font-size: 16px;list-style: none;text-align: left; padding: 0px;font-weight: 600;}
.thankyou-page .product-id {text-align: right;list-style: none;font-size: 14px; color: #757373;font-weight: 600;}
.thankyou-page .product-id span {color: #212529;}
.thankyou-page h1 {padding-top:15px;font-size: 45px;font-weight: 700; text-transform: uppercase;}
.thankyou-page h5 {font-size: 18px;text-transform: uppercase;}
.thankyou-page .shopping-bag {max-width: 240px;}
.thankyou-page p {color: #9f9999;margin: 0px 75px;padding-top: 10px;}
.customer-detail span {color: #757373;}

/*product*/
.filterbg {background: #766cf1; padding: 5px 10px 5px 5px;}
.price-select select {width: 100%;}
button.btn.btn-default.filter-button {display: block;}
.alligment button {padding: 0px;line-height: 35px; font-size: 15px;font-weight: bold;}
.container-fluid.product-search-box {  padding: 20px 0px 20px 0px;}
.btn.focus, .btn:focus {box-shadow: none!important;}
.select-box label { font-size: 14px; font-weight: bold;}
.select-box {    margin-top: 20px;}
/*product*/